/*--------------------------------------------------------------------
                                BASES
---------------------------------------------------------------------*/
html {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #181818;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
a {
  color: #fff;
}

h2 {
  font-size: 3.25rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1.7rem;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 600;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

/*--------------------------------------------------------------------
LAYOUT
---------------------------------------------------------------------*/
.container-header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.section {
  margin-bottom: 200px;
}

.gallerie-section {
  max-width: 1300px !important;
}

.partners-section {
  max-width: 1000px !important;
}

.main {
  width: 100%;
}

.header-section {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

/*--------------------------------------------------------------------
                               HEADER
---------------------------------------------------------------------*/

.header-top {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  width: 60px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
  transition: all 0.5s;
}

.nav a:hover {
  text-decoration: underline;
}

.title-h1 {
  margin: 80px auto 30px auto;
  max-width: 650px;
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  line-height: 1.1;
}

.header-middle p {
  margin: 0 auto 80px auto;
  text-align: center;
  max-width: 540px;
}

.header-middle__btn-flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  color: #fff;
  transition: all 0.3s;
  padding: 15px 45px;
  max-width: 178px;
}

.btn-transparent {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}

.btn-transparent:hover {
  background-color: #4452fe;
  border-color: #4452fe;
}

.btn-blue {
  background-color: #4452fe;
  border: 1px solid #4452fe;
}

.btn-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
}

.header-middle__btn {
  margin: 10px 20px;
}

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1400px;

  max-height: 95vh;
  margin-left: auto;
  margin-right: auto;
}

.header-bottom img {
  width: 100%;
}

/*-------------------------------------------------------------------
                            MODULES
---------------------------------------------------------------------*/
.responsive-menu {
  display: none;
}
.close-nav {
  display: none;
}
.responsive-menu-login {
  display: none;
}

/*--------------------------------------------------------------------
                               FEATURES
---------------------------------------------------------------------*/
.features_chatbox-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features_chatbox-img {
  max-width: 800px;
}

.features_chatbox-img img {
  width: 100%;
}

.features_chatbox-text {
  max-width: 300px;
  margin-bottom: 50px;
}

.features_chatnox-text_title {
  display: flex;
  margin-bottom: 20px;
}

.features_chatnox-text_title h3 {
  margin-left: 10px;
}

.features_chatnox-text_title img {
  flex: none;
  width: 30px;
  height: 30px;
}

.contents-btn:hover {
  background-color: #4452fe;
  color: black;
  cursor: pointer;
}

/*--------------------------------------------------------------------
                            CONTENTS
---------------------------------------------------------------------*/
.contents-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-card {
  width: 40%;
  margin: 0 15px 0 15px;
  height: 624px;
  background-color: #fff;

  text-align: center;
  border-radius: 15px;
}

.contents-card_text {
  max-width: 288px;
  margin: 0 auto 50px auto;

  color: #5c5c5c;
}

.contents-card_title {
  color: black;
  margin: 40px 0 20px 0;
}

.contents-card img {
  width: 100%;
  height: auto;
}

.contents-card_img-left {
  max-width: 405px;
  height: 226px;
  margin: 40px auto 0 auto;
}

.contents-card_img-right {
  max-width: 415px;
  height: auto;
  margin: 0 auto 0 auto;
}

/*--------------------------------------------------------------------
                            GALLERIE
---------------------------------------------------------------------*/

.gallerie-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallerie_img-fit {
  width: 225px;
  height: 285px;
  margin: 20px 10px 20px 10px;
  border-radius: 10px;
}

.gallerie_img-large {
  width: 395px;
  height: 285px;
  margin: 20px 10px 20px 10px;
  border-radius: 10px;
}

.gallerie-flex_element-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.nowrap {
  flex-wrap: nowrap !important;
}

.img-fit-1 {
  background: url(./img/card-window-1.png) center center;
  display: inline-block;
}
.img-fit-2 {
  background: url(./img/card-window-2.png) center center;
  display: inline-block;
}
.img-fit-3 {
  background: url(./img/card-window-3.png) center center;
  display: inline-block;
}
.img-fit-4 {
  background: url(./img/card-window-4.png) center center;
  display: inline-block;
}
.img-fit-5 {
  background: url(./img/card-window-6.png) center center;
  display: inline-block;
  flex: none;
}
.img-large-1 {
  background: url(./img/card-window-5.png) center center;
  display: inline-block;
}
.img-large-2 {
  background: url(./img/card-window-7.png) center center;
  display: inline-block;
}

.section-btn {
  display: block;
  margin: 50px auto 0 auto;
}

/*--------------------------------------------------------------------
                            PARTNERS
---------------------------------------------------------------------*/
.partner_partners-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partners-flex_element-flex {
  width: 50%;
  min-width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

/*--------------------------------------------------------------------
                          TESTIMONIALS
---------------------------------------------------------------------*/

.testimonials_testimonials-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.testimonials_testiminials-card {
  max-width: 430px;
  min-width: 300px;
  padding: 40px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;

  color: #fff;
}
.testimonials_testiminials-card > div {
  display: inline-block;
  margin-left: 15px;

  font-size: 1em;
  line-height: 1.2;
  font-weight: 500;
}

.testimonials_testiminials-card p {
  margin-top: 30px;
}

/*-------------------------------------------------------------------
                           FIGMA-LAND
---------------------------------------------------------------------*/

.figma-land-section {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 0 20px 0 20px;
}

.figma-land-section_contents {
  background-color: #343434;
  display: flex;
  border-radius: 15px 15px 15px 15px;
}

.section-left {
  width: 50%;
  height: 370px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-left_content {
  max-width: 468px;
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.section-left button {
  margin-left: 0;
}

.section-right {
  width: 50%;
  height: 370px;
  border-radius: 0 10px 10px 0;
  background: url(./img/figma-land.png) center center no-repeat;
  background-size: cover;
}

/*--------------------------------------------------------------------
                              FOOTER
---------------------------------------------------------------------*/
.footer-section {
  margin: 200px 0 50px 0;
  display: flex;
}

.footer-section h4 {
  margin-bottom: 20px;
}

.footer-section p {
  display: inline-block;
}

.footer-section a {
  display: block;
  padding: 5px 0 5px 0;
}

.footer-section_flex {
  width: 50%;
  display: flex;
}

.footer-section_flex_item {
  width: 33.33%;
  flex: none;
}

.footer-section_info-sup {
  width: 40%;
  margin-left: auto;
}

.footer-section_info-up_item {
  min-width: 319px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-section_info-sup_social {
  width: 200px;
}

.footer-section_info-sup img {
  margin: 10px;
}

.footer-section a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------------
                              RESPONSIVE
---------------------------------------------------------------------*/

@media screen and (max-width: 890px) {
  .responsive-menu {
    display: block;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  .title-h1 {
    font-size: 3.25rem;
    line-height: 1.2;
  }
  .responsive-menu-login {
    display: block;
  }
  .btn-login {
    display: none;
  }

  nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
  }

  .active {
    display: flex;
  }
  .scroll-none {
    position: fixed;
    overflow: scroll;
  }

  nav a {
    display: block;
    margin: 30px 0;
    font-size: 1.5rem;
  }

  /*Bouton fermeture menu responsive*/
  .close-nav {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .close-nav:after {
    content: "";
    width: 35px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    right: 19px;
    top: 21px;
  }

  .close-nav:before {
    content: "";
    width: 35px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    right: 19px;
    top: 22px;
  }

  .header-middle__btn-flex {
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
  }

  /*FEATURES*/

  .features_chatbox-flex {
    flex-direction: column;
  }

  .features_chatbox-text {
    margin-top: 30px;
  }

  /*CONTENT*/

  .contents-flex {
    flex-direction: column;
  }

  .contents-card {
    width: 60%;
    margin-top: 30px;
    max-height: 600px;
  }

  .contents-card_text {
    margin: 0 auto 30px auto;
  }

  .contents-card_title {
    margin: 30px 0 20px 0;
  }

  /*GALLERIE*/

  .hide {
    display: none;
  }

  .img-fit-2 {
    background: url(./img/card-responsive-2.png) center center;
  }
  .img-fit-3 {
    background: url(./img/card-responsive-3.png) center center;
  }
  .img-fit-4 {
    background: url(./img/card-responsive-4.png) center center;
  }

  /*FIGMA-LAND*/
  .figma-land-section {
    padding-left: 0;
    padding-right: 0;
  }

  .figma-land-section_contents {
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-radius: 0;
  }

  .section-left_content {
    width: 376px;
  }

  .section-right {
    min-width: 450px;
    border-radius: 0;
    background: url(./img/figma-land-responsive.png);
    background-position: center;
  }

  /*FOOTER*/

  .footer-section {
    flex-direction: column;
    padding-left: 60px;
  }

  .footer-section_flex {
    flex-direction: column;
    margin-left: 20px;
  }

  .footer-section_flex_item {
    margin-bottom: 35px;
  }

  .footer-section h4 {
    margin-bottom: 10px;
  }

  .footer-section_info-sup {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .responsive-menu {
    top: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .partners-flex_element-flex {
    flex-direction: column;
  }

  .partners-flex_element-flex img {
    padding: 40px;
  }
}
