/*--------------------------------------------------------------------
                                BASES
---------------------------------------------------------------------*/
html {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
a {
  color: #fff;
}

h2 {
  font-size: 3.25rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1.7rem;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 600;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

/*--------------------------------------------------------------------
LAYOUT
---------------------------------------------------------------------*/
.container-header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.main {
  width: 100%;
}

.header-section {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

/*--------------------------------------------------------------------
                               HEADER
---------------------------------------------------------------------*/

.header-top {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  width: 60px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
  transition: all 0.5s;
}

.nav a:hover {
  text-decoration: underline;
}

.title-h1 {
  margin: 80px auto 30px auto;
  max-width: 650px;
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  line-height: 1.1;
}

.header-middle p {
  margin: 0 auto 80px auto;
  text-align: center;
  max-width: 540px;
}

.header-middle__btn-flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  color: #fff;
  transition: all 0.3s;
  padding: 15px 45px;
  width: 178px;
}

.btn-transparent {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}

.btn-transparent:hover {
  background-color: #4452fe;
  border-color: #4452fe;
}

.btn-blue {
  background-color: #4452fe;
  border: 1px solid #4452fe;
}

.btn-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
}

.header-middle__btn {
  margin: 10px 20px;
}

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1400px;

  max-height: 95vh;
  margin-left: auto;
  margin-right: auto;
}

.header-bottom img {
  width: 100%;
}

/*-------------------------------------------------------------------
                            MODULES
---------------------------------------------------------------------*/
.responsive-menu {
  display: none;
}
.close-nav {
  display: none;
}
.responsive-menu-login {
  display: none;
}

/*--------------------------------------------------------------------
                               FEATURES
---------------------------------------------------------------------*/
.features_chatbox-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features_chatbox-img {
  max-width: 800px;
}

.features_chatbox-img img {
  width: 100%;
}

.features_chatbox-text {
  max-width: 300px;
  margin-bottom: 50px;
}

.features_chatnox-text_title {
  display: flex;
  margin-bottom: 20px;
}

.features_chatnox-text_title h3 {
  margin-left: 10px;
}

.features_chatnox-text_title img {
  flex: none;
  width: 30px;
  height: 30px;
}

.contents-btn:hover {
  background-color: #4452fe;
  color: black;
  cursor: pointer;
}

/*--------------------------------------------------------------------
                            CONTENTS
---------------------------------------------------------------------*/
.contents-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-card {
  width: 40%;
  margin: 0 15px 0 15px;
  height: 624px;
  background-color: #fff;

  text-align: center;
  border-radius: 15px;
}

.contents-card_text {
  max-width: 288px;
  margin: 0 auto 50px auto;

  color: #5c5c5c;
}

.contents-card_title {
  color: black;
  margin: 40px 0 20px 0;
}

.contents-card img {
  width: 100%;
  height: auto;
}

.contents-card_img-left {
  max-width: 405px;
  height: 226px;
  margin: 40px auto 0 auto;
}

.contents-card_img-right {
  max-width: 415px;
  height: auto;
  margin: 0 auto 0 auto;
}

/*--------------------------------------------------------------------
                              RESPONSIVE
---------------------------------------------------------------------*/

@media screen and (max-width: 890px) {
  .responsive-menu {
    display: block;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  .title-h1 {
    font-size: 3.25rem;
    line-height: 1.2;
  }
  .responsive-menu-login {
    display: block;
  }
  .btn-login {
    display: none;
  }

  nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
  }

  .active {
    display: flex;
  }
  .scroll-none {
    position: fixed;
    overflow: scroll;
  }

  nav a {
    display: block;
    margin: 30px 0;
    font-size: 1.5rem;
  }

  /*Bouton fermeture menu responsive*/
  .close-nav {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .close-nav:after {
    content: "";
    width: 35px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    right: 19px;
    top: 21px;
  }

  .close-nav:before {
    content: "";
    width: 35px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    right: 19px;
    top: 22px;
  }

  .header-middle__btn-flex {
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
  }
  /*FEATURES*/
  .features_chatbox-flex {
    flex-direction: column;
  }

  .features_chatbox-text {
    margin-top: 30px;
  }
  /*CONTENT*/
  .contents-flex {
    flex-direction: column;
  }

  .contents-card {
    width: 60%;
    margin-top: 30px;
    max-height: 600px;
  }

  .contents-card_text {
    margin: 0 auto 30px auto;
  }

  .contents-card_title {
    margin: 30px 0 20px 0;
  }
}

@media screen and (max-width: 500px) {
  .responsive-menu {
    top: 10px;
    right: 10px;
  }
}
