/*--------------------------------------------------------------------
                                BASES
---------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
a {
  text-decoration: none;
}

h1, h2, p, a {
  color: #fff;
}


/*--------------------------------------------------------------------
LAYOUT
---------------------------------------------------------------------*/
.container-header {
  width: 100%;
  height: 100vh;
  background-color: #181818;
  
}

.container {
  width: 80%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}




/*--------------------------------------------------------------------
                               HEADER
---------------------------------------------------------------------*/
.header-top {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav a {
width: 60px;
margin: 0 20px;
font-weight: 500;
transition: all 0.5s;
}

.nav a:hover {
  text-decoration: underline;
}

.title-h1 {
  margin:80px auto 30px auto;
  max-width: 650px;
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  line-height: 1.1;
}

.header-middle p {
   margin: 0 auto 80px auto;
  text-align: center;
  max-width: 540px;
  font-size: 1.25rem;
  line-height: 1.5;
}

.header-middle__btn-flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
 color: #fff;
 transition: all 0.3s;
 padding: 15px 45px;
}


.btn-transparent {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}

.btn-transparent:hover {
  background-color: #4452FE;
  border-color: #4452FE;
}

.btn-blue{
  background-color: #4452FE;
  border: 1px solid #4452FE;
}

.btn-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff
}

.header-middle__btn {
  margin: 10px 20px;
}





/*--------------------------------------------------------------------
                            MODULES
---------------------------------------------------------------------*/
.responsive-menu {
  display: none;
}




/*--------------------------------------------------------------------
                              RESPONSIVE
---------------------------------------------------------------------*/

@media screen and (max-width: 860px) {


}